.btn-flat {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background-color:#0B215B;
  // transition: background 0.3s ease;
}

.btn-flat:hover {
  background-color:#020a20;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color:#D53B1D;
  // transition: background 0.3s ease;
}

.btn-cancel:hover {
  background-color:#9E2913!important;
  color: white;
}