.navbar-lewagon {
  justify-content: space-between;
  background: #F8B5B6;
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 3rem;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: #0B215B !important;
  background-color: white;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;
}

.nav-link:hover {
  background-color: #0B215B;
  color: white !important;
}